 <h1> Budge </h1> <%= link_to "Summary", summary_path %>

<div ng-controller="ExpensesCtrl">
<form ng-submit="addExpense()">
	<div class = "label-container">
		<label> Amount: </label>
	</div>
	<input type="text"  ng-model="newExpense.amount">
	<div class = "label-container">
		<label> Type: </label>
	</div>
	<input type="text"  ng-model="newExpense.expense_type">
	<div class = "label-container">
		<label> Date: </label>
	</div>
	<input type="text" class = "date-picker" ng-model="newExpense.expense_date">
	<input type ="submit" class = "btn green small" value="Add">
</form>

<table>
	<tr ng-repeat = "expense in expenses">
		
		<td>{{expense.amount}}</td>
		<td>{{expense.expense_type}}</td>
		<td>{{expense.expense_date}}</td>
		
	</tr>
</table>
