 <h1> Budge </h1>

<p> Enter your expenses below </p>

<div ng-controller="ExpensesCtrl">
	<form id = "add_form" ng-submit="addExpense()">
		<div class = "label-container">
			<label> Amount: </label>
		</div>
		<input type="text"  ng-model="newExpense.amount">
		<div class = "label-container">
			<label> Date: </label>
		</div>
		<input type="text" class = "date-picker" ng-model="newExpense.expense_date">
		<div id = "add" ng-click="addExpense()" class = "btn green small"> Add </div>
	</form>

	<p> OR </p>

	<%= form_tag('/upload', multipart:true, id: 'upload') do %>
		<div id = "file_wrapper" class = "btn green med" >
			Choose a File
		</div>
		<%= file_field_tag "file", accept: 'text/csv' %>
	<% end %>
	  and   
	<a id = "upload_link" href = '#' ng-click="upload()">Upload</a>

    <div id = "progress" class = "hidden">
    	<%= image_tag 'spinner.gif', :id => 'progress_spinner'%>
    	<span id = "progress_text"> 100% </span>
	</div>

	<br/>

	<div id = "file_name_container" class = "label-container hidden">
		<label> Filename: </label>
		<span id = "file_name"></span>
	</div>

	<p> Click <%= link_to "Here", summary_path, :id => "summary_link"%> for a summary of your expenses</p>

</div>