<div id = "big_button_wrapper">
	<div class = "btn big green"> <a href="<%=summary_path%>"> Continue as a Guest </a></div>
	<p id = "or_divider"> OR </p>
	<div class = "btn big green"> <a href="<%=login_path%>"> Sign in / Create an Account </a></div>
</div>

