
<div class = "label-container">
  <%= f.label :type, "Type" %>
</div>
<%= f.text_field :type %><br />
<div class = "label-container">
  <%= f.label :amount, "Amount" %>
</div>

<%= f.text_field :amount %>
