/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* layout */
#header{
	height:50px;
	
	.left{
		float:left;
	}
	.right{
		float:right;
		text-align:right;
		margin: 0px 0px 15px 0px;
	}
}

#main_container{
	width:100%;
	margin-left:50px;
}

/* general look and feel */
 div{
 	font-family:"Trebuchet MS", Helvetica, sans-serif;
 }

 p{
	margin-left:5px;
 }

 .hidden{
 	display:none !important;
 }


.btn{
 	border-radius: 50px;
	font-weight:bold;
	text-align:center;
	display:inline-block;
 }

 .btn:hover{
 	cursor:pointer;
 }

 .btn.big{
	padding:20px;
	font-size:20px;

	a{
	  color:white;
	}
	a:hover{
	  color:white;
	}
 }

 .btn.med{
 	padding: 10px;
	width: 120px;
	font-size:15px;
 }

 .btn.small{
 	padding: 5px;
	width: 60px;
	font-size:12px;
 }

 .btn.green{
	background-color:limegreen;
	color:white;
 }

 .success{
 	animation:pulse 2s infinite;
 	-webkit-animation:pulse 2s infinite;
 }

 .error{
 	color: red;
 }

 .btn.green:hover{
 	background-color:green;
 }


 a, label{
	font-weight:bold;
	text-decoration:none;
	color:limegreen;

 }

 .label-container{
	margin-right: 15px;
	text-align:right;
	display:inline-block;
 }

 a:hover{
 	color:green;
 }


input[type=text]{
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
input[type=email]{
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
input[type=password]{
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes.pulse{
 0% {color:limegreen; scale:(1);}
 50% {color:green;; scale:(0.75);}
 100% {color:limegreen; scale:(1);}
}

@-webkit-keyframes pulse {
 0% {color:limegreen;; scale:(1);}
 50% {color:green; scale:(0.75);}
 100% {color:limegreen; scale:(1);}
}
