
<div class = "big-button-wrapper"> 
	<%= button_to "Budget Summary", summary_path, :class => "big green btn", :id => 'summary_btn' %>
</div>
<div class = "big-button-wrapper">
	<%= button_to "Track expenses", '#', :class => "big green btn", :id => 'expenses_btn' %>
</div>
